@tailwind base;
@tailwind components;
@tailwind utilities;


.anybody {
    font-family: 'Anibody', sans-serif;
  }

.main-title{
    font-size: 28px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    color: #010101;
}

.argument-text{
    font-family: 'Raleway', 'sans-serif';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 11.74px;
}
.argument-button{
    width: 83px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
    box-shadow: -2px 2px 0px 0px #000000;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.tag-button{
    width: auto;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: -2px 2px 0px 0px #000000;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
   
}



